@import 'helpers.css';
@import 'stall.css';

body { background: url('../media/images/background/1.jpg') no-repeat center center fixed; 
  		-webkit-background-size: cover;
  		   -moz-background-size: cover;
 			 -o-background-size: cover;
 				background-size: cover; }

/* TYPOGRAPHY
-----------------------------------------------------*/

body, a, a:hover, a:active, a:hover { 
	font-family: 'Noto Sans', sans-serif;
	color: white;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
} 

h1 { font-size: 5rem; }


/* HEADER
-----------------------------------------------------*/

/* Menu
--------------------------------*/

nav#header {
	position: fixed;
	width: 100%;
	z-index: 100;
}

div#top-nav {
	background-color: #4eccb9;
	outline: #34b3a0 solid 1px;
}

div#top-nav > ul,
div#top-nav > ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
}

div#top-nav > ul > li > a {padding: 0.8rem;}
div#top-nav > ul > li > a:hover,
div#top-nav > ul > li > a:active,
div#top-nav > ul > li > a:focus {
	text-decoration: none;
	border-bottom: 0.5rem solid white;
	padding-bottom: 0.3rem;
	color: white;
}
div#top-nav ul > li > a {
	font-size: 2.3rem;
	display: inline-block;
}


/* Sub-Menus
--------------------------------*/

div.submenu {
	background-color: #1d6559;
	width: 200px;
	height: 200px;
	display: none;
}

/* COMPONENTS
-----------------------------------------------------*/

div.main-box {
	background-color: rgba(0,0,0,0.9);
	padding: 0.3rem 3rem;
}

/* BOOTSTRAP OVERRIDES
-----------------------------------------------------*/

div.container {
	padding-top: 8rem;
}